{% load staticfiles %}

{% if type == 'current_wr_day' %}

    <script language="JavaScript">
        window.location.href = '{% url "commuterform" %}';
    </script>

{% elif type == 'next_wr_day' %}

	<p style="font-weight:300; font-size: 18px;">
	<strong>The next Walk/Ride Day is <span class="date">{{ date }}</span></strong> You will be able to check-in from<br>
	 <span class="date" style="display: inline-block;">{{ open }}</span> through <span class="date" style="display: inline-block;">{{ close }}</span>
	 </p>
	 <p><span class="highlight"><a href="https://docs.google.com/a/gogreenstreets.org/forms/d/e/1FAIpQLSdQINzN8d9_imFvgLdImeHW1aDXS6eQJXeGumd78eJ3O2GfMw/viewform?c=0&w=1">Sign up for our newsletter</a> for events and more, like FREE Walk/Ride Day breakfasts!</span></p>

{% else %}

  <p>Although the Challenge is over, Walk/Ride Days continue.</p> <p><span class="highlight"><a href="http://gogreenstreets.org/civicrm/profile/create?gid=14&reset=1">Get monthly updates by clicking here to join our newsletter</a></span>.</p>

{% endif %}
