{% load staticfiles %}

{% if type == 'current_wr_day' %}

	<center>
	<a style="font-size:18px; font-weight:300;" href="{% url "commuterform" %}" class="cool-button button--ujarak" tabindex="3">Check-in your <br>commute here!</a>
	</center>

	<p style="font-weight: 300; font-size: 16px;">
	<strong>This month's Walk/Ride Day: <span class="date">{{ date }}</span></strong>
	<br>
	Check-ins will be accepted from<br> <span class="date" style="display: inline-block;">{{ open }}</span> through <span class="date" style="display: inline-block;">{{ close }}</span></p>

{% elif type == 'next_wr_day' %}

	<p style="font-weight:300; font-size: 18px;">
	<strong>The next Walk/Ride Day is <span class="date">{{ date }}</span></strong> You will be able to check-in from<br>
	 <span class="date" style="display: inline-block;">{{ open }}</span> through <span class="date" style="display: inline-block;">{{ close }}</span>
	 </p>
	 <p><span class="highlight"><a href="http://gogreenstreets.org/civicrm/profile/create?gid=14&reset=1">Sign up for our newsletter</a> for events and more, like FREE Walk/Ride Day breakfasts!</span></p>

{% else %}

  <p>Although the Challenge is over, Walk/Ride Days continue.</p> <p><span class="highlight"><a href="http://gogreenstreets.org/civicrm/profile/create?gid=14&reset=1">Get monthly updates by clicking here to join our newsletter</a></span>.</p>

{% endif %}
