{% load staticfiles %}

{% if type == 'current_wr_day' %}

    <script language="JavaScript">
        window.location.href = '{% url "commuterform" %}';
    </script>

{% elif type == 'next_wr_day' %}

	<p style="font-weight:300; font-size: 18px;">
	<strong>The next Walk/Ride Day is <span class="date">{{ date }}</span></strong> You will be able to check-in from<br>
	 <span class="date" style="display: inline-block;">{{ open }}</span> through <span class="date" style="display: inline-block;">{{ close }}</span>
	 </p>

	<p>Although Walk/Ride Day is not taking place this week, you can see an example check-in</p>
	<p><a href="{% url 'commuterform' %}">by following this link</a></p>

<p><i>If your employer has not already registered for this year’s <a href="http://gogreenstreets.org/walkride-day-corporate-challenge">Walk/Ride Day Corporate Challenge</a>, now is the time! The Challenge runs April 24 - October 30, 2017. </i></p>

<p>Get more information about the Green Streets Initiative and the Challenge:</p>
<p><a href="http://gogreenstreets.org/civicrm/profile/create?gid=14&reset=1">by signing up for our newsletter</a></p>
<p><a href="http://www.gogreenstreets.org/">and visiting our website</a></p>

{% else %}

  <p>Although the Challenge is over, Walk/Ride Days continue.</p> <p><span class="highlight"><a href="http://gogreenstreets.org/civicrm/profile/create?gid=14&reset=1">Get monthly updates by clicking here to join our newsletter</a></span>.</p>

{% endif %}
