{% extends "base.html" %}
{% load staticfiles %}
{% load survey_extras %}

{% load i18n %}

{% block title %}Welcome!{% endblock %}


{% block body %}
<section class="front-page">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Walk/Ride Day 2015<br>Check-In</h1>

        <p class="lead"><img src="{% static 'img/car-24.png' %}" height="32" width="32"><img src="{% static 'img/school-24.png' %}" height="32" width="32"><img src="{% static 'img/pitch-24.png' %}" height="32" width="32"><img src="{% static 'img/bicycle-24.png' %}" height="32" width="32"><img src="{% static 'img/rail-24.png' %}" height="32" width="32"><img src="{% static 'img/warehouse-24.png' %}" height="32" width="32"><img src="{% static 'img/scooter-24.png' %}" height="32" width="32"></p>
        <p class="lead">Everyone is welcome to check in</p>

        <p>Your completion of this month's Walk/Ride Day check-in helps us see the
        greater impact of our initiative, and it only takes a few steps! After you submit your check-in, you will get a confirmation email and also be automatically entered into <a href="http://gogreenstreets.org/May%2C%202015-check-raffle-prizes">this month's raffle!</a></p>

        <p>And, if your company is participating in the Corporate Challenge, your monthly Walk/Ride Day check-ins from April through October will count towards your company's standings.</p>
        <hr class="lite">

        <p class="wrday">{% wr_day %}</p>

        <hr class="lite">
        <p>Your check-ins will be faster if you use the same web browser and device for your monthly check-ins.</p>
        <p>Thank you for checking in and for advancing sustainable transportation.</p>

      </div>
    </div>
</section>

{% endblock %}
