{% extends "base.html" %}
{% load staticfiles %}
{% load survey_extras %}

{% load i18n %}

{% block title %}Welcome!{% endblock %}

{% block body %}
  <section class="front-page">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Walk/Ride Day</h1>

        <p class="lead">Everyone is welcome to check in a commute in honor of Walk/Ride Day!</p>

        <p class="lead"><img src="{% static 'img/car-24.png' %}" height="32" width="32"><img src="{% static 'img/school-24.png' %}" height="32" width="32"><img src="{% static 'img/pitch-24.png' %}" height="32" width="32"><img src="{% static 'img/bicycle-24.png' %}" height="32" width="32"><img src="{% static 'img/rail-24.png' %}" height="32" width="32"><img src="{% static 'img/warehouse-24.png' %}" height="32" width="32"><img src="{% static 'img/scooter-24.png' %}" height="32" width="32"></p>

        <p>Walk/Ride Days take place on the last Friday of each month, and provide a shared day for everyone in the community to celebrate, try out, or just think about healthy, environmentally sustainable commuting options.</p>

        <p>Don’t work on Fridays? Check in another day! You can check in as early as the Monday prior or as late as the Monday after Walk/Ride Day.</p>

        <hr class="lite">

        <p class="wrday">{% wr_day %}</p>

        <hr class="lite">

        <p>Your completion of this month's Walk/Ride Day check-in helps us see the greater impact of our initiative, and it only takes a few steps! After completion, you will get a confirmation email you can show when picking up rewards at our <a href="http://checkinapp-greenstreets.rhcloud.com/retail/">local Retail Partners.</a> You’ll also be automatically entered into <a href="http://gogreenstreets.org/months-raffle-prizes">this month's raffle!</a></p>

        {% if competition_in_progress %}
          <p>If your company is participating in this year’s <a href="http://gogreenstreets.org/walkride-day-corporate-challenge">Corporate Challenge</a>, make sure you list them as your employer. Your monthly check-ins will count towards your company's standings!</p>
        {% else %}
          <p><i>Your monthly check-ins will count towards your company's standings.</i></p>
        {% endif %}

        <p>Checking in will be faster if you use the same web browser and device each month.</p>
        <p>Thank you for checking in and for advancing sustainable transportation!</p>
      </div>
    </div>
  </section>
{% endblock %}
