{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Check-in your commute to work!{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'libs/chosen/chosen.min.css' %}">
{% endblock %}

{% block javascript %}

<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script src="{% static 'libs/jquery.formset.js' %}" type="text/javascript"></script>
<script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/form.js' %}" type="text/javascript"></script>

{% endblock %}

{% block body %}

<div class="row">
  <center>
    <h1>Walk/Ride Day Check-In</h1>
    <h2>{{ wr_day }}</h2>
    <p class="lead">Green Streets Initiative will not share identifying information with any organization, other than with your employer if participating in the <a href="http://gogreenstreets.org/2016-walkride-day-corporate-challenge">Corporate Challenge</a> (from April through October). You may opt out of sharing your information with your employer below.</p>
    <div class="panel panel-danger browser"><p class="text-danger"><strong>We strongly recommend</strong> using an up-to-date Internet browser such as Internet Explorer 8 or later, <a href="http://www.google.com/chrome/">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> if you have trouble checking in with multiple commute segments. As another alternative, you may also use your smartphone to check in!</p></div>
  </center>
</div>
<hr class="green-big">
{% if form.errors or WRFW_formset.errors or WRTW_formset.errors or NormalFW_formset.errors or NormalTW_formset.errors %}
  <div class="alert alert-danger" role="alert"><center>Oops! Please finish completing your checkin.</center></div>
{% endif %}

<form name="form" method="post" action="{{request.path}}" class="form-horizontal">
  <fieldset>
  {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        <div class="col-sm-5">
          {{ field.label_tag }}
        </div>
        <div class="col-sm-7">
          {{ field }}
          {% if field.help_text %}
              <span style="font-family: 'Alegreya Sans';">{{ field.help_text }}</span>
          {% endif %}
          {% if field.errors %}
            <div class="help-block">
            {% for error in field.errors %}
              {{ error|escape }}<br>
            {% endfor %}
            </div>
          {% endif %}
        </div>

      </div>
    {% endfor %}

    <div>
      <label>This Could Be You...</label>
      <div class="clearfix">
        <div id="commute-distance"></div>
        <div id="commute-distance3"></div>
        <div id="commute-distance2"></div>
      </div>
      <div id="map-canvas" class="clearfix"></div>
      <p class="commuteexamples"><strong>For illustrative purposes only.</strong> These routes are automatically generated from the locations typed above.</p>
    </div>
    <hr class="green-big">

    {{ NormalTW_formset.management_form }}
    {{ NormalFW_formset.management_form }}
    {{ WRTW_formset.management_form }}
    {{ WRFW_formset.management_form }}

    <div class="row wr-day">
      <div class="headingthing">
        <h2>Your Walk/Ride Day* Commute</h2>
        Please enter all segments (legs) of your commute and the approximate duration of each segment. Include walking as an additional segment (e.g. walking from the bus stop to a connecting train). Feel free to check in early, before your actual commute. You can go back and make changes; the system will record only your most recent submission.
        <br>
        *If you don't work on Fridays or for another reason, you may substitute another day to detail as your "Walk/Ride Day" commute.
        </div>
      <div class="col-sm-6">
        <div class="to-work">
        <center>
        <h4>FROM Home TO Work</h4>
        <hr class="green">
        </center>

        <div class="legs-wrapper">
        {% for form in WRTW_formset %}
            <div id="{{ form.prefix }}-row" class="leggedrow">

              {{ form }}
            </div>
        {% endfor %}
        </div>
        <hr>
        </div>
      </div>


      <div class="col-sm-6">
      <div class="from-work">
        <center>
        <h4>FROM Work TO Home</h4><hr class="green"></center>
        {{ wrday_copy }}

        <div class="legs-wrapper">
        {% for form in WRFW_formset %}
            <div id="{{ form.prefix }}-row" class="leggedrow">

              {{ form }}
            </div>
        {% endfor %}
        </div>
      <hr>
      </div>
      </div>
    </div>


    <div class="row normal-day">
      <div class="headingthing">
        <h2>Your Normal Day Commute</h2>
        Please enter all segments (legs) of your commute and also include time spent walking as an additional segment (e.g. walking from the bus stop to a connecting train). If you commute in a variety of ways, depending on the day, just pick one that you think is your most typical.
        </div>
      <div class="col-sm-12">{{ commute_copy }}</div>
      <div class="col-sm-6 normal-legs">
        <div class="to-work">

        <center>
        <h4>FROM Home TO Work</h4><hr class="green">
        </center>

        <div class="legs-wrapper">
        {% for form in NormalTW_formset %}
            <div id="{{ form.prefix }}-row" class="leggedrow">

              {{ form }}
            </div>
        {% endfor %}
        </div>
        <hr>
      </div>
      </div>

      <div class="col-sm-6 normal-legs">
      <div class="from-work">
        <center>
        <h4>FROM Work TO Home</h4><hr class="green"></center>
        {{ normal_copy }}

        <div class="legs-wrapper">
        {% for form in NormalFW_formset %}
            <div id="{{ form.prefix }}-row" class="leggedrow">

              {{ form }}
            </div>
        {% endfor %}
        </div>
      <hr>
      </div>
      </div>

    </div>
    <hr class="green-big">
    {% for field in extra_form %}
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        <div class="col-sm-5">
          {{ field.label_tag }}
        </div>
        <div class="col-sm-7">
          {{ field }}
          {% if field.errors %}
            <div class="help-block">
            {% for error in field.errors %}
              {{ error|escape }}<br>
            {% endfor %}
            </div>
          {% endif %}
        </div>

      </div>
    {% endfor %}

    <center>
    {% if form.errors or WRFW_formset.errors or WRTW_formset.errors or NormalFW_formset.errors or NormalTW_formset.errors %}
      <div class="alert alert-danger" role="alert">Oops! Please finish completing your checkin.</div>
    {% endif %}

    <button class="cool-button button--ujarak" type="submit" name="action" value="action">
      Submit your checkin!
    </button>
    </center>

  </fieldset>
</form>

{% endblock %}
