{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Successful Walk/Ride Day check-in!{% endblock %}

{% block javascript %}
<script src="{% static 'libs/simpleStorage.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<section class="thanks-page">
    <div class="row">
      <div class="span12">
        <h1 class="thanks-page">You successfully checked-in for <span class="nowrap">Walk/Ride Day</span> <span class="nowrap">{{ month }}</span></h1>
        <p class="lead">Thank you {{ person }} for checking in!</p>
        <p>
        {% if calories_burned > 0.01 %}
            On Walk/Ride Day you burned {{ calories_burned }} calories {% if calorie_change > 0 %}(a {{ calorie_change }} calorie difference from your normal commute!){% endif %}.
        {% endif %}
        {% if carbon_savings > 0.01 %}
            You saved an estimated {{ carbon_savings }} kilograms of carbon dioxide on Walk/Ride Day.
        {% endif %}
        </p>

        <a id="checkin-another" class="btn btn-large btn-primary" href="/checkin/">Check in another person</a>
        <a class="btn btn-large btn-warning" href="/leaderboard/">View Leaderboard</a>
        <hr>
        <!-- Information about retail partners rewards. Personal codes here? -->

        <p class="lead"><strong>Celebrate with our <a href="{% url 'retail:index' %}">retail partners</a> offering special discounts for Walk/Ride Day participants.</strong></p>
        <a href="{% url 'retail:index' %}" target="_blank">View this map in a new window.</a>
        <div class="fluid-wrapper">
            <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="{% url 'retail:index' %}"></iframe>
        </div>

      </div>
    </div>
</section>
{% endblock %}
