<!-- Category -->
<div class="modal fade" id="mobile-category-modal" tabindex="-1" role="dialog" aria-labelledby="mobile-category-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="mobile-category-modal-title"><center>Filter by Category</center></h4>
            </div>
            <div class="modal-body category-modal-body">
                <button type="button" class="btn btn-default m-btn category-btn" value="All">All Categories</button><br>
            </div>
        </div>
    </div>
</div>

<!-- Filter City -->
<div class="modal fade" id="mobile-city-modal" tabindex="-1" role="dialog" aria-labelledby="mobile-city-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="mobile-city-modal-title"><center>Filter by City</center></h4>
            </div>
            <div class="modal-body city-modal-body">
                <button type="button" class="btn btn-default m-btn city-btn" value="All">All Cities</button><br>
            </div>
        </div>
    </div>
</div>

<!-- Sort Modal -->
<div class="modal fade" id="mobile-sort-modal" tabindex="-1" role="dialog" aria-labelledby="mobile-sort-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="mobile-sort-modal-title"><center>Sort</center></h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default m-btn sort-button" value="alphabet">Alphabetically</button><br>
                <button type="button" class="btn btn-default m-btn sort-button" value="distance">Distance to me</button><br>
                <button type="button" class="btn btn-default m-btn sort-button" value="address">Distance to address</button>
            </div>
        </div>
    </div>
</div>