{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{company.name}} Statistics{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/cssplot.full.css' %}">
{% endblock %}

{% block body %}

{% load absolutely %}
{% load humanize %}

<div class="row clearfix">
    <div class="col-sm-12 column">
        <center>
          <h1>Walk/Ride Day {{ year }} <br><strong>{{company.name}}</strong></h1>
          {% if company.nr_members %}
          <p>{{company.nr_members | intcomma}} team members eligible to participate</p>
          {% elif company.nr_employees %}
          <p>{{company.nr_employees | intcomma}} employees eligible to participate</p>
          {% endif %}
        </center>
    </div>
</div>

<div class="row" style="padding: 15px 0px;">
<div class="col-sm-4 column overall">
  <h2>Overall</h2>
  {% for fact in overall %}
    <div class="panel">
    {% if fact.1 < 100 %}
      <p>{{fact.1 | absolutely | floatformat:0 | intcomma}}</p>
      <h4>{{fact.0}}</h4>
    {% else %}
      <p>{{fact.1 | intcomma}}</p>
      <h4>{{fact.0}}</h4>
    {% endif %}
    </div>
  {% endfor %}

</div>
<div class="col-sm-8 column">
  <div>

    <!-- tabs -->
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#impacts" aria-controls="impacts" role="tab" data-toggle="pill">Impacts</a></li>
      <li role="presentation"><a href="#commutes" aria-controls="commutes" role="tab" data-toggle="pill">Commutes</a></li>
      <li role="presentation"><a href="#participation" aria-controls="participation" role="tab" data-toggle="pill">Participation</a></li>
    </ul>

    <!-- data -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="impacts">
        {# <h2>{{ impacts.0 }}</h2> #}
        {# <p>{{ impacts.1 }}</p> #}
        <p>By changing your commute, you can generate less CO2 and burn more calories for a healthier world and a healthier you. You might burn 170 calories in 15 minutes of running <a href="http://calorielab.com/burned/?mo=se&gr=12&ti=running&q=&wt=150&un=lb&kg=68">(source)</a>. Saving 38.2 kilograms of CO2 is like replacing an incandescent light bulb with a compact fluorescent bulb
         <a href="http://www.epa.gov/cleanenergy/energy-resources/refs.html">(source)</a> - how many does your company replace? </p>
        {% for datapoint in impacts.2 %}
          <h3>{{datapoint.0}}</h3>
          <div class="bar-chart">
              <ul class="plot-container">
                {% if datapoint.2 %}
                  {%  for month in datapoint.2 %}
                    <li style="width: {{ month.1 | absolutely | floatformat:0 | default:"0" }}px; background: orange !important;" data-cp-size="raw"><span class="plot-label">{{ month.0|capfirst }}<br>{{ month.2 | absolutely | floatformat:0 | default:"0" | intcomma }}</span></li>
                  {% endfor %}
                {% else %}
                  {%  for month in datapoint.1 %}
                    <li style="width: {{ month.1 | absolutely | floatformat:0 | default:"0" }}px; background: orange !important;" data-cp-size="raw"><span class="plot-label">{{ month.0|capfirst }}<br>{{ month.1 | absolutely | floatformat:0 | default:"0" | intcomma }}</span></li>
                  {% endfor %}
                {% endif %}
              </ul>
          </div>
        {% endfor %}
      </div>
      <div role="tabpanel" class="tab-pane" id="commutes">
        {# <h2>{{ commutes.0 }}</h2> #}
        <p>{{ commutes.1 }}</p>
        {% for datapoint in commutes.2 %}
          <h3>{{datapoint.0}}</h3>
          <div class="bar-chart">
              <ul class="plot-container">
                {% if datapoint.1|length = 1 %}
                  {# we're showing april only here #}
                  <p><span style="font-size: 2em;">{{ datapoint.1.0.1 |floatformat:0}}%</span> in April</p>
                {% else %}
                  {%  for month in datapoint.1 %}
                    <li data-cp-size="{{ month.1 | floatformat:0 | default:"0" }}"><span class="plot-label">{{ month.0|capfirst }}<br>{{ month.1 | default:"0" }}%</span></li>
                  {% endfor %}
                {% endif %}
              </ul>
          </div>
        {% endfor %}
      </div>

      <div role="tabpanel" class="tab-pane" id="participation">
        {# <h2>{{ participation.0 }}</h2> #}
        <p>{{ participation.1 }}</p>

          <h3>{{participation.2.0.0}}</h3>
          <div class="bar-chart">
              <ul class="plot-container">
              {% if participation.2.0.2 %}
                {%  for month in participation.2.0.2 %}
                  <li style="width: {{ month.1 | floatformat:0 | default:"0" }}px; background: orange !important;" data-cp-size="raw"><span class="plot-label">{{ month.0|capfirst }}<br>{{ month.2 | default:"0" | intcomma }}</span></li>
                {% endfor %}
              {% else %}
                {% for month in participation.2.0.1 %}
                  <li style="width: {{ month.1 | floatformat:0 | default:"0" }}px; background: orange !important;" data-cp-size="raw"><span class="plot-label">{{ month.0|capfirst }}<br>{{ month.1 | default:"0" | intcomma }}</span></li>
                {% endfor %}
              {% endif %}
              </ul>
          </div>

          <h3>{{participation.2.1.0}}</h3>
          <div class="bar-chart">
              <ul class="plot-container">
                {%  for month in participation.2.1.1 %}
                  <li data-cp-size="{{ month.1 | floatformat:0 | default:"0" }}"><span class="plot-label">{{ month.0|capfirst }}<br>{{ month.1 | default:"0" }}%</span></li>
                {% endfor %}
              </ul>
          </div>

      </div>

    </div>

  </div>


</div>




</div>
{% endblock %}
