{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Company Statistics{% endblock %}

{% block javascript %}

{% endblock %}

{% block body %}


<div class="row clearfix">
    <div class="col-md-12 column">
        <center><h1>Walk/Ride Day {{ year }} <br>Corporate Challenge<br><strong>All participating companies and sub-teams</strong></h1>
    </div>
</div>

<div class="row" style="padding: 15px 0px;">
<div class="col-md-6 col-md-offset-3 column">

<ul>
{% for company in companies %}
  <li>
    {% if company.team_set.all %}
    {{ company.name }}
    <ul>
      {% for team in company.team_set.all %}
        <li><a href="{% url 'leaderboard.views.company' year=year employerid=company.id teamid=team.id %}">{{ team.name }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
      <a href="{% url 'leaderboard.views.company' year=year employerid=company.id %}">{{ company.name }}</a>
    {% endif %}
  </li>
{% endfor %}
</ul>
</div>
</div>
{% endblock %}
