body {
  font-family: 'Martel Sans', Helvetica, Arial, sans-serif;
}

.thanks-actions {
  width: 80%;
}

.thanks-actions div {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.thanks-actions div span {
  font-size: .9em;
  color: darkred;
  display: block;
  margin-top: 5px;
}

.selections {
  background-color: #BBE9FC;
  padding: 20px;
}

.lb-filter-container {
  display: inline-block;
  padding: 10px;
  padding-bottom: 20px;
  width: 220px;
}

.lb-filter-container p {
  margin-bottom: 0;
}

.bar-chart [data-cp-size] {
  background-color: #8BC6EE !important;
}

a[data-toggle="pill"] {
  font-size: 18px;
  font-weight: bold;
}

.plot-label {
  color: black;
  border: none !important;
  display: block;
  padding: 5px;
}

.tab-pane {
  padding: 2em;
}

.overall {
  background-color: #BBE9FC;
}

.overall .panel p {
  font-size: 28px;
  text-align: right;
}

.overall .panel h4 {
  font-size: 14px;
  padding: 0;
}

#id_normal_same_as_walkride, #id_walkride_same_as_reverse, #id_normal_same_as_reverse {
   list-style-type: none;
}

.to-work, .from-work {
   padding: 0 20px 10px 20px;
}

.headingthing {
  text-align: center;
  background-color: rgb(134, 169, 156);
  color: rgb(227, 240, 227);
  margin-bottom: 20px;
  padding: 1px 0 8px 0;
}

.date {
  font-weight: 700;
  font-family: 'Alegreya Sans SC';
  font-size: 24px;
  display: block;
}

.dangerous {
  border-radius: 0;
  background-color: white;
  border: none;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 0px;
}

.lb-button {
  display: inline-block;
  background-color: #E3F0E3;
  padding: 6px 10px;
  margin: 4px 2px;
  text-align: center;
  color: black;
  font-family: 'Alegreya Sans SC';
  font-size: 16px;
  transition: all 0.8s ease-in-out;
}

.lb-button-month {
  display: inline-block;
  border: 2px solid #E3F0E3;
  padding: 6px 10px;
  margin: 4px 2px;
  text-align: center;
  color: black;
  font-family: 'Alegreya Sans SC';
  font-size: 16px;
  transition: all 0.8s ease-in-out;
}

.lb-button:hover {
  background-color: rgba(93,167,80,1);
  color: white;
  text-decoration: none;
}

.lb-button-month:hover {
  background-color: rgba(93,167,80,1);
  color: white;
  text-decoration: none;
}

.alt {
  background-color: rgba(93,167,80,1);
  color: white;
}

.stats h4 {
  text-align: center;
  border-bottom: #E3F0E3 3px solid;
  padding-bottom: 9px;
}

a.add-row {
  display: block;
  background-color: rgba(93,167,80,1);
  border: rgb(47, 119, 35) 1px solid;
  padding: 6px;
  text-align: center;
  color: white;
  font-family: 'Alegreya Sans SC';
  font-size: 18px;
  -webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.55), 0 0 8px rgba(100, 170, 79, 0.8);
  -moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.55), 0 0 8px rgba(100, 170, 79, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55), 0 0 8px rgba(100, 170, 79, 0.8);
  transition: background-color 0.5s ease;
}

a.add-row:hover {
  background-color: rgba(58, 106, 50, 1);
  text-decoration: none;
}


a.delete-row {
  color: red;
  text-decoration: underline;
  text-align: right;
  display: block;
  margin: 10px 0;
}

.cool-button {
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.55), 0 0 8px rgba(100, 170, 79, 0.8);
  -moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.55), 0 0 8px rgba(100, 170, 79, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55), 0 0 8px rgba(100, 170, 79, 0.8);
}

.cool-button:focus {
  outline: none;
}

.cool-button:disabled {
  -webkit-box-shadow:  none;
  -moz-box-shadow:  none;
  box-shadow: none;
  color: #aaaaaa;
  background-color: #666666;
}

.cool-button:disabled:hover {
  -webkit-box-shadow:  none;
  -moz-box-shadow:  none;
  box-shadow: none;
  color: #aaaaaa;
  background-color: #666666;
}

.cool-button > span {
  vertical-align: middle;
}

.button--ujarak {
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
  background-color: #E3F0E3;
}
.button--ujarak::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(93,167,80,100);
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak,
.button--ujarak::before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover:not([disabled]) {
  color: #fff;
  border-color: rgba(93,167,80,100);
  text-decoration: none;
}
.button--ujarak:hover::before :not([disabled]){
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.totals {
  padding: 15px 0;
}

.totals .lead {
  text-align: center;
}

.totals .total {
  text-align: center;
  font-size: 28px;
  margin-top: 0;
}

.normal-day, .wr-day {
  background: #E3F0E3;
}

hr.green {
    border: 0;
    height: 2px;
    color: #37B04F;
    background-image: -webkit-linear-gradient(left, rgba(93,167,80,0), rgba(93,167,80,0.75), rgba(93,167,80,0));
    background-image:    -moz-linear-gradient(left, rgba(93,167,80,0), rgba(93,167,80,0.75), rgba(93,167,80,0));
    background-image:     -ms-linear-gradient(left, rgba(93,167,80,0), rgba(93,167,80,0.75), rgba(93,167,80,0));
    background-image:      -o-linear-gradient(left, rgba(93,167,80,0), rgba(93,167,80,0.75), rgba(93,167,80,0));
}

hr.green-big {
    border: 0;
    height: 5px;
    color: #37B04F;
    background-image: -webkit-linear-gradient(left, rgba(93,167,80,0), rgba(93,167,80,0.75), rgba(93,167,80,0));
    background-image:    -moz-linear-gradient(left, rgba(93,167,80,0), rgba(93,167,80,0.75), rgba(93,167,80,0));
    background-image:     -ms-linear-gradient(left, rgba(93,167,80,0), rgba(93,167,80,0.75), rgba(93,167,80,0));
    background-image:      -o-linear-gradient(left, rgba(93,167,80,0), rgba(93,167,80,0.75), rgba(93,167,80,0));
}

.teamjump {
  background: white;
}

a.all-button {
    white-space: normal;
}

.table td,th {
   text-align: right;
}

.table td:first-child, th:first-child {
  text-align: left;
}

td > img {
  margin-right: 4px;
}

.domain {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

svg {
  font: 1em sans-serif;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.y .tick line {
  stroke: black;
}

/*.barchart-div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
  margin-top: 100px;
  border: 1px solid rgb(200,200,200);
}*/

.leg > label {
  padding: 0 1em;
}


#walkride > h3, #normal > h3 {
  font-family: 'Alegreya Sans SC';
    font-size: 1.25em;
  text-transform: none;
}

#walkride > h3 > span, #normal > h3 > span {
  font-family:'Alegreya Sans SC';

  font-size: 1.4em;
  text-transform: lowercase;
}

.fluid-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        border: none;
}

ul.list-unstyled > li {
  height: 25px;
  vertical-align: top;
}

.legB {
  background: #E5F7E5;
  padding: 5px 0px;
}

p.wrday {
  margin: 30px;
  font-size:26px;
}

#test {
  font-size:16px;
}

h1,h2,h3,legend {
  font-family: 'Alegreya Sans SC';
}

strong {
  font-family: 'Alegreya Sans SC';

}

em {
  font-family: 'Alegreya Sans SC';

}

strong > em, em > strong {
  font-family: 'Alegreya Sans SC';

}

h3,h4,h5,h6 {
  font-weight:bold;
}

legend {
  background:#cff6ff;
  padding:4px;
  padding-left:6px;
  border-bottom: 2px solid #5f9aa7;
}

label {
  font-family: 'Alegreya Sans SC';

  font-size: 16px;
}

hr.lite {
  border: 0;
  border-bottom: 1px dashed #eee;
}

.greenimpact {
  background:#cff6cf;
  border-bottom: 2px solid #5f9a87;
}

.right {
  text-align:right;
}

span.button {
    display: block;
    pointer-events: none;
}

.container {max-width: 1000px;}

a, a:hover {
    color: #64AA4F;
}

.nowrap {
	white-space: nowrap;
}

#submit-error {
  padding:8px;
}

#notvalidated {
  display: none;
}

.commuteexamples {
  text-align: left;
  font-size: 0.8em;
  line-height: 1.1;
  margin-top: 14px;
  font-family: 'Alegreya Sans SC';

}

/* leaderboard styles */

h2.leaderboard {
  text-transform: none;
  text-align: center;
  letter-spacing: -1px;
  font-family:'Alegreya Sans SC';
  margin-bottom:0px;

}

h1.leaderboard {
  margin-top:0px;
  margin-bottom:20px;
  text-align: center;
  font-family: 'Alegreya Sans SC';

}

h3.leaderboard {
  font-family:'Alegreya Sans SC';

}

.panel p {
  font-size: 16px;
  line-height: 1.2;
  font-family:'Alegreya Sans SC';

}

.panel {
  margin:10px;
  padding:20px;
}

.top {
  margin-bottom: 0;
  padding: 0;
}

.participation, a:link.participation, a:visited.participation {
 color: #b60;
}

.gcommute, a:link.gcommute, a:visited.gcommute {
 color: #0c3;
}

.gswitch, a:link.gswitch, a:visited.gswitch {
 color: #04c;
}

.co2, a:link.co2, a:visited.co2 {
 color: #530;
}

.calories, a:link.calories, a:visited.calories {
 color: #b0c;
}

a.company {
  color: green;
}

span.highlight {
  background: #ADFF00;
  padding: 2px;
}

span.highlight > a {
  color: blue;
  text-decoration: underline;
}

span.highlight > a:hover {
  color: inherit;
  text-decoration: none;
}

.ranktitle {
  font-family: 'Alegreya Sans SC';
  padding: 5px;
  text-transform: none;
  letter-spacing: -0.5px;
  font-size: 18px;
  background: #eee;

}


.labelHeader {
        text-align: right;
    }

.table-borderless thead > tr > th, .table-borderless tbody > tr > th {border: none;}


.gc {text-align:right;}
.gstd {
    border: 1px white solid;
    text-align:right;
    background-color: #4CB5FF;
  }
.gctd {
    border: 1px white solid;
    text-align:right;
    background-color: #93C480;
  }
.cctd {
    border: 1px white solid;
    text-align:right;
    background-color: #FF664C;
  }
.ustd {
    border: 1px white solid;
    text-align:right;
    background-color: #B472FF;
  }

.mode {
  font-size:8pt;
  text-align:center;
  line-height:1;
  margin:0px;
}

.matrixWRlabel {
  height:120px;
  width:50px;
  position:relative;
  margin:0px auto;
  float:left;
  vertical-align:middle;
}

.matrixWRlabel h4 {
  position:absolute;
  width:120px;
  line-height:50px;
  left:0;
  top:100%;
  white-space: nowrap;
  writing-mode: tb-rl;
  filter: flipv fliph;
  -moz-transform: rotate(270deg);  /* FF3.5+ */
  -o-transform: rotate(270deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
  -ms-transform:rotate(270deg); /* IE 9 */
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
  -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE8 */
  transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  text-align:right;
}

.summary {
  line-height:1.1;
  padding: 5px;
  text-align: center;
  margin-bottom:20px;
}

div.participation {background-color: #fec;}
div.gcommute {background-color: #cfd;}
div.gswitch {background-color: #cef;}
div.co2 {background-color: #fdc;}
div.calories {background-color: #ecf;}

/*Leaderboard controls*/

.lbcontrols {
  background: #B6C1B2;
  font-family: 'Alegreya Sans SC';

  padding:10px;
  padding-bottom:15px;
}

.selected {
  font-family: 'Alegreya Sans SC';


  outline: 5px solid #5cb85c;
  z-index:10;
}

a.lbmonth, span.lbmonth {
  background: #E1F0DC;
  padding: 5px;
  margin: 5px;
  color: black;
  color: #383;
  display: inline-block;
}

span.lbmonth {
  color: black;
  outline: 5px green solid;
  z-index:11;
}

/*ranks*/
ol.lbrank {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol.lbrank > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    list-style:none; /* Disable the normal item numbering */
}
ol.lbrank > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    color:#000;
    font-weight:bold;
    font-size:16px;
    font-family:"Martel Sans", Arial, sans-serif;
    text-align:center;
}

/*li ol.lbrank,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}​*/

.list-group-item {
  padding: 4px 0;
  border:none;
}

span.badge {
  font-size: 0.8em;
  font-weight: 300;
}

/* Topnav budget numbers
-------------------------------------------------- */

.navbar .masthead {
  border-radius: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #ffffff;
  height: 110px;
  overflow: hidden;
  border-bottom: 1px solid #64A950;
}

/* Page header
-------------------------------------------------- */
.page-header {
  position: relative;
  padding-top: 120px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}
.page-header h1 {
  margin-bottom: 9px;
  font-size: 44px;
  letter-spacing: -1px;
}

/* Front Page
-------------------------------------------------- */

.front-page, .thanks-page {
	text-align: center;
}

.lead {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

/* Footer
-------------------------------------------------- */

.footer {
	margin-top: 40px;
	text-align: center;
}

/* Map
-------------------------------------------------- */

#map-canvas {
	height: 300px;
}

/* Form
-------------------------------------------------- */

fieldset h2, fieldset h3 {
	margin-bottom: 10px;
}

span.required {
	color: #9D261D;
  font-weight: bold;
}

input:focus,
textarea:focus {
  border-color: rgba(100, 170, 79, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 170, 79, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

.btn.impact {
	float: left;
}

#saved_co2, #burned_calories {
	margin-bottom: 4px;
}

#burned_calories {
	margin-top: 4px;
}

fieldset.studentgroup {
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
}

.validation-error {
  padding: 5px;
  margin: 5px;
  letter-spacing: .5px;
}

#commute-distance, #commute-distance2, #commute-distance3 {
  font-weight:normal;
  margin: 10px auto;
  padding: 5px;
  float: left;
}

.leg {
  margin: 0px 20px 10px 10px;
}

.hidden-legs {
  display: none;
}

#optional-questions, #lastweekaway {
  display: none;
}



/* Share buttons
-------------------------------------------------- */

.social-media {
  margin-top: 20px;
}

.social-media li {
  display: inline-block;
}


/* Responsive design
-------------------------------------------------- */

@media (max-width: 480px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  }
  .front-page .btn, #add_studentgroup.btn {
  	margin-bottom: 10px;
  }
  .social-media li {
    display: inline-block;
    margin-top: 10px;
  }
  .twitterwidget {
    padding-left: 18px;
  }
  #map_canvas {
    height: 300px;
  }
  #uvTab {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .page-header {
    position: relative;
    padding-top: 0px;
  }
  .social-media li {
    display: inline-block;
    margin-top: 10px;
  }
  .twitterwidget {
    padding-left: 18px;
  }
  #map_canvas {
    height: 300px;
  }
  #uvTab {
    display: none !important;
  }
}


@media (min-width: 1200px) {

}
