{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Leaderboard{% endblock %}

{% block javascript %}
<script type="text/javascript">
  // bind change event to select
  $('#team_parent').bind('change', function () {
      var url = $(this).val(); // get selected value
      if (url) { // require a URL
          window.location = url; // redirect
      }
      return false;
   });

  //select right one initially
  var parent = '{{ parent.name }}';
  if (parent != '') {
    $("#team_parent option:contains("+parent+")").attr('selected', 'selected');
  }


</script>
{% endblock %}

{% block body %}

{% load absolutely %}

<div class="row clearfix">
    <div class="col-md-12 column">
        <center><h1>Walk/Ride Day 2015 <br>Corporate Challenge Leaderboard</h1>
    </div>
</div>

<center><h3>{% now "SHORT_DATETIME_FORMAT" %}</h3></center>

<div class="row" style="padding: 15px 0px;">
  <center>
  <div>
  <a class="lb-button {% if '/all/' in request.get_full_path %}alt{% endif %}" href="{% url 'leaderboard.views.latest_leaderboard' size='all' selected_month=selected_month %}">All companies</a>
  <a class="lb-button {% if '/small/' in request.get_full_path %}alt{% endif %}" href="{% url 'leaderboard.views.latest_leaderboard' size='small' selected_month=selected_month %}">Small (less than 50)</a>
  <a class="lb-button {% if '/medium/' in request.get_full_path %}alt{% endif %}" href="{% url 'leaderboard.views.latest_leaderboard' size='medium' selected_month=selected_month %}">Medium (51 to 300)</a>
  <a class="lb-button {% if '/large/' in request.get_full_path %}alt{% endif %}" href="{% url 'leaderboard.views.latest_leaderboard' size='large' selected_month=selected_month %}">Large (301 to 2000)</a>
  <a class="lb-button {% if '/largest/' in request.get_full_path %}alt{% endif %}" href="{% url 'leaderboard.views.latest_leaderboard' size='largest' selected_month=selected_month %}">Largest (2001+ employees)</a>
  </div>

  <select id="team_parent" name="team_parent">
    <option>Looking for a subteam?
    </option>

  {% for employer in employersWithSubteams %}
     <option value="{% url 'leaderboard.views.latest_leaderboard' size='all' selected_month='all' parentid=employer.id %}"
         {% if employer.name == parent.name %}selected="selected"{% endif %}>
         {{employer.name}}
     </option>
  {% endfor %}
  </select>

  <div>
  <a class="lb-button-month {% if '/all/' in request.get_full_path and not parent %}alt{% endif %}" href="{% if parent %} {% url 'leaderboard.views.latest_leaderboard' parentid=parent.id size=size selected_month='all' %} {% else %} {% url 'leaderboard.views.latest_leaderboard' size=size selected_month='all' %} {% endif %}">All months</a>
  <a class="lb-button-month {% if '/april/' in request.get_full_path %}alt{% endif %}" href="{% if parent %} {% url 'leaderboard.views.latest_leaderboard' parentid=parent.id size=size selected_month='april' %} {% else %} {% url 'leaderboard.views.latest_leaderboard' size=size selected_month='april' %} {% endif %}">Apr</a>
  <a class="lb-button-month {% if '/may/' in request.get_full_path %}alt{% endif %}" href="{% if parent %} {% url 'leaderboard.views.latest_leaderboard' parentid=parent.id size=size selected_month='may' %} {% else %} {% url 'leaderboard.views.latest_leaderboard' size=size selected_month='may' %} {% endif %}">May</a>
  <a class="lb-button-month {% if '/june/' in request.get_full_path %}alt{% endif %}" href="{% if parent %} {% url 'leaderboard.views.latest_leaderboard' parentid=parent.id size=size selected_month='june' %} {% else %} {% url 'leaderboard.views.latest_leaderboard' size=size selected_month='june' %} {% endif %}">Jun</a>
  <a class="lb-button-month {% if '/july/' in request.get_full_path %}alt{% endif %}" href="{% if parent %} {% url 'leaderboard.views.latest_leaderboard' parentid=parent.id size=size selected_month='july' %} {% else %} {% url 'leaderboard.views.latest_leaderboard' size=size selected_month='july' %} {% endif %}">Jul</a>
  <a class="lb-button-month {% if '/august/' in request.get_full_path %}alt{% endif %}" href="{% if parent %} {% url 'leaderboard.views.latest_leaderboard' parentid=parent.id size=size selected_month='august' %} {% else %} {% url 'leaderboard.views.latest_leaderboard' size=size selected_month='august' %} {% endif %}">Aug</a>
  <a class="lb-button-month {% if '/september/' in request.get_full_path %}alt{% endif %}" href="{% if parent %} {% url 'leaderboard.views.latest_leaderboard' parentid=parent.id size=size selected_month='september' %} {% else %} {% url 'leaderboard.views.latest_leaderboard' size=size selected_month='september' %} {% endif %}">Sep</a>
  <a class="lb-button-month {% if '/october/' in request.get_full_path %}alt{% endif %}" href="{% if parent %} {% url 'leaderboard.views.latest_leaderboard' parentid=parent.id size=size selected_month='october' %} {% else %} {% url 'leaderboard.views.latest_leaderboard' size=size selected_month='october' %} {% endif %}">Oct</a>
  </div>

  </center>
</div>

<div class="row totals">
  <center>{% if parent %}<h3>{{ parent.name }}</h3>{% endif %}</center>
  <div class="col-sm-4">
    <p class="lead">Total Check-Ins</p>
    <p class="total">{{ totals.total_checkins|floatformat:0|default:"0"}}</p>
  </div>
  <div class="col-sm-4">
    <p class="lead">Total CO<sub>2</sub> Saved</p>
    <p class="total">{{ totals.total_carbon|absolutely|floatformat:0|default:"0" }} kg</p>
  </div>
  <div class="col-sm-4">
    <p class="lead">Total Calories Burned</p>
    <p class="total">{{ totals.total_calories|floatformat:0|default:"0"}} kcal</p>
  </div>
</div>

<div class="row stats" style="padding: 15px 0px;">

  <div class="col-sm-3">
    <h4>Staff Participation</h4>
    <ol class="lbrank">
    {% for key, value in ranks.percent_participation %}
      <li class="clearfix"><a class="list-group-item company" href="#">{{ key }}<span class="badge">{{ value|floatformat:2 }}%</span></a></li>
    {% endfor %}
    </ol>
  </div>
  <div class="col-sm-3">
    <h4>Green Commutes</h4>
    <ol class="lbrank">
    {% for key, value in ranks.percent_green_commuters %}
      <li class="clearfix"><a class="list-group-item company" href="#">{{ key }}<span class="badge">{{ value|floatformat:2 }}%</span></a></li>
    {% endfor %}
    </ol>
  </div>
  <div class="col-sm-3">
    <h4>Greener Switches</h4>
    <ol class="lbrank">
    {% for key, value in ranks.percent_green_switches %}
      <li class="clearfix"><a class="list-group-item company" href="#">{{ key }}<span class="badge">{{ value|floatformat:2 }}%</span></a></li>
    {% endfor %}
    </ol>
  </div>
  <div class="col-sm-3">
    <h4>Healthier Switches</h4>
    <ol class="lbrank">
    {% for key, value in ranks.percent_healthy_switches %}
      <li class="clearfix"><a class="list-group-item company" href="#">{{ key }}<span class="badge">{{ value|floatformat:2 }}%</span></a></li>
    {% endfor %}
    </ol>
  </div>



</div>
{% endblock %}


