{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Leaderboard{% endblock %}

{% block javascript %}
<script type="text/javascript">
  // bind change event to select
  $('#team_parent').bind('change', function () {
      var url = $(this).val(); // get selected value
      if (url) { // require a URL
          window.location = url; // redirect
      }
      return false;
   });

  //select right one initially
  var parent = '{{ parent.name }}';
  if (parent != '') {
    $("#team_parent option:contains("+parent+")").attr('selected', 'selected');
  }


</script>
{% endblock %}

{% block body %}

{% load absolutely %}
{% load humanize %}

<div class="row clearfix">
    <div class="col-md-12 column">
        <center><h1>Walk/Ride Day 2015 <br>Corporate Challenge Leaderboard<br>{% now "SHORT_DATETIME_FORMAT" %}</h1>
    </div>
</div>

<div style="padding: 15px 0px;">

  <div><strong>By Sector:</strong>
    <a class="lb-button {% if selected_sector == 'all' %}alt{% endif %}"
        href="{% url 'leaderboard.views.latest_leaderboard' size=size sector='all' selected_month=selected_month %}">
      All Sectors</a>
    {% for key, value in sectors_list.items %}
        <a class="lb-button {% if selected_sector == key %}alt{% endif %}"
            href="{% url 'leaderboard.views.latest_leaderboard' size=size sector=key selected_month=selected_month %}">
            {{ value }}</a>
    {% endfor %}
  </div>

  <div><strong>By Size:</strong>
    <a class="lb-button {% if size == 'all' %}alt{% endif %}"
        href="{% url 'leaderboard.views.latest_leaderboard' size='all' sector=selected_sector selected_month=selected_month %}">
        All Sizes</a>
    {% for key, value in sizes_list.items %}
        <a class="lb-button {% if size == key %}alt{% endif %}"
            href="{% url 'leaderboard.views.latest_leaderboard' size=key sector=selected_sector selected_month=selected_month %}">
            {{ value }}</a>
    {% endfor %}
  </div>

  <div><strong>By Month:</strong>
    <a class="lb-button-month {% if selected_month == 'all' %}alt{% endif %}"
      href="{% if parent %} {% url 'leaderboard.views.latest_leaderboard' sector=selected_sector parentid=parent.id size=size selected_month='all' %} {% else %} {% url 'leaderboard.views.latest_leaderboard' sector=selected_sector size=size selected_month='all' %} {% endif %}">
      All Months</a>
    {% for month in months_list %}
        <a class="lb-button-month {% if selected_month == month %}alt{% endif %}"
        href="{% if parent %} {% url 'leaderboard.views.latest_leaderboard' sector=selected_sector parentid=parent.id size=size selected_month=month %} {% else %} {% url 'leaderboard.views.latest_leaderboard' sector=selected_sector size=size selected_month=month %} {% endif %}">{{ month}}</a>
    {% endfor %}
  </div>

  <div><strong>By Sub-Team:</strong>
    <select id="team_parent" name="team_parent">
      <option>Looking for a subteam?
      </option>
    {% for employer in employersWithSubteams %}
       <option value="{% url 'leaderboard.views.latest_leaderboard' sector='all' size='all' selected_month=selected_month parentid=employer.id %}"
           {% if employer.name == parent.name %}selected="selected"{% endif %}>
           {{employer.name}}
       </option>
    {% endfor %}
    </select>
  </div>

</div>

<div class="row totals">
  <center>{% if parent %}<h3>{{ parent.name }}</h3>{% endif %}</center>
  <div class="col-sm-4">
    <p class="lead">Total Check-Ins</p>
    <p class="total">{{ totals.total_checkins|floatformat:0|default:"0"|intcomma}}</p>
  </div>
  <div class="col-sm-4">
    <p class="lead">Total CO<sub>2</sub> Saved</p>
    <p class="total">{{ totals.total_carbon|absolutely|floatformat:0|default:"0"|intcomma }} kg</p>
  </div>
  <div class="col-sm-4">
    <p class="lead">Total Calories Burned</p>
    <p class="total">{{ totals.total_calories|floatformat:0|default:"0"|intcomma}} kcal</p>
  </div>
</div>

<div class="row stats" style="padding: 15px 0px;">

  <div class="col-sm-3">
  {% if selected_month == 'all' %}
    <h4>Average Participation To Date</h4>
    <ol class="lbrank">
    {% for key, value in ranks.percent_avg_participation %}
      <li class="clearfix"><a class="list-group-item company" href="{% url 'leaderboard.views.company' employerid=key.1.0 teamid=key.1.1 %}">{{ key.0 }}<span class="badge">{{ value|floatformat:1 }}%</span></a></li>
    {% endfor %}
    </ol>
  {% else %}
    <h4>Staff Participation</h4>
    <ol class="lbrank">
    {% for key, value in ranks.percent_participation %}
      <li class="clearfix"><a class="list-group-item company" href="{% url 'leaderboard.views.company' employerid=key.1.0 teamid=key.1.1 %}">{{ key.0 }}<span class="badge">{{ value|floatformat:1 }}%</span></a></li>
    {% endfor %}
    </ol>
  {% endif %}
  </div>
  <div class="col-sm-3">
    <h4>Green Commutes</h4>
    <ol class="lbrank">
    {% for key, value in ranks.percent_green_commuters %}
      <li class="clearfix"><a class="list-group-item company" href="{% url 'leaderboard.views.company' employerid=key.1.0 teamid=key.1.1 %}">{{ key.0 }}<span class="badge">{{ value|floatformat:1 }}%</span></a></li>
    {% endfor %}
    </ol>
  </div>
  <div class="col-sm-3">
    <h4>Greener Switches</h4>
    <ol class="lbrank">
    {% for key, value in ranks.percent_green_switches %}
      <li class="clearfix"><a class="list-group-item company" href="{% url 'leaderboard.views.company' employerid=key.1.0 teamid=key.1.1 %}">{{ key.0}}<span class="badge">{{ value|floatformat:1 }}%</span></a></li>
    {% endfor %}
    </ol>
  </div>
  <div class="col-sm-3">
    <h4>Healthier Switches</h4>
    <ol class="lbrank">
    {% for key, value in ranks.percent_healthy_switches %}
      <li class="clearfix"><a class="list-group-item company" href="{% url 'leaderboard.views.company' employerid=key.1.0 teamid=key.1.1 %}">{{ key.0 }}<span class="badge">{{ value|floatformat:1 }}%</span></a></li>
    {% endfor %}
    </ol>
  </div>

  <div class="col-sm-8 col-sm-offset-2">
    <center>
      <div class="panel">Looking for data on a team you don't see here? <br><a href="{% url 'leaderboard.views.company' %}">Click to see all participating organizations</a>!</div>
    </center>
  </div>



</div>
{% endblock %}
